/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* html{
    scroll-behavior: smooth;
} */

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    /* background-color: black; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* opacity: 1; */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 5px 9px;
}

#logo img{
    height: 57px;
    width: 55px;
    margin: -2px 1px;
    object-fit: cover;
    border-radius: 66%;
    filter: invert(1000%);
    opacity: 0.9;
}

/* Navigation Bar: Styling */
#navbar ul{
    display: flex;
    font-family: 'Amatic SC', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.6rem;
    font-weight: bold;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 2px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home styling */
#home{
    display: flex;
    flex-direction: column;
    /* padding: 0px 148px;  */
    height: 473px;
    justify-content: center;
    align-items: center;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('img/background1.png') no-repeat center center/cover;
    top:0px;
    left:0px;
    height: 552px;
    width: 100%;
    z-index: -1;
    opacity: 0.78;
}
#home h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 1px solid black;
    background-color: rgb(129, 125, 125);
    color: black;
    margin: 16px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor:pointer;
}
#services{
    margin: 12px;
    display: flex;
}
#services .box{ 
    border: 2px solid rgba(54, 43, 43, 0.918);
    padding: 17px;
    margin: 10px 40px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

/* #services .box p{
    font-family: 'Bree Serif', serif;

}  */